node_modules/

/generated/prisma

prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal
prisma/migrations/*/*.sql
!prisma/migrations/migration_lock.toml
!prisma/migrations/*/*_init/migration.sql
!prisma/schema.prisma
